.btn {
	background-color: var(--grey);
	color: var(--white);
	cursor: pointer;
	padding: 6px 0px;
	width: 120px;
	text-transform: uppercase;
	border: 1px solid var(--gold);
	border-radius: 50px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.btn:hover {
	background-color: var(--gold);
}
