.container {
	display: flex;
	min-height: 100vh;
}

.left-wrapper {
	min-width: 336px;
	border-right: 1.5px solid var(--border);
	display: flex;
	flex-direction: column;
	gap: 70px;
	align-items: center;
}

.left-heading-wrapper {
	display: flex;
	gap: 22px;
	font-size: 32px;
	line-height: 42px;
	align-items: center;
	padding-top: 16px;
}

.left-link-wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.left-link {
	display: flex;
	gap: 16px;
	border-radius: 50px;
	height: 60px;
	width: 270px;
	align-items: center;
	padding-left: 26px;
	cursor: pointer;
}

.left-link span {
	font-weight: 600;
	font-size: 20px;
	line-height: 26px;
}

.left-link:hover {
	background-color: var(--dark-blue);
}

.right-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.right-top-wrapper {
	display: flex;
	gap: 18px;
	height: 102px;
	padding: 16px;
	align-items: center;
	border-bottom: 1.5px solid var(--border);
	justify-content: flex-end;
}

.right-top-wrapper img,
.left-heading-wrapper img {
	height: 70px;
	width: 70px;
	border-radius: 50%;
}

.right-top-text-wrapper {
	display: flex;
	flex-direction: column;
	gap: 4px;
	align-items: flex-end;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.right-top-text-wrapper span {
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	color: var(--grey);
}
