.balance-container {
	display: flex;
	height: 188px;
	border-bottom: 1.5px solid var(--border);
	padding-left: 40px;
	align-items: center;
}

.balance-wrapper {
	display: flex;
	flex-direction: column;
	gap: 4px;
	font-weight: 600;
	font-size: 20px;
	line-height: 26px;
	color: var(--grey);
}

.money-wrapper {
	font-weight: 600;
	font-size: 32px;
	line-height: 42px;
	color: var(--white);
}

.money-wrapper {
	display: flex;
	gap: 14px;
}

.stock-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 58px;
}

.stock-top-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 18px 26px;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
	align-items: center;
	cursor: pointer;
}

.stock-top-wrapper:hover {
	background-color: var(--drop-down);
}

.stock-bottom-wrapper {
	height: 0;
	overflow: hidden;
	justify-content: space-between;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
	align-items: center;
}

.stock-name-wrapper {
	display: flex;
	flex-direction: column;
	width: 120px;
}

.stock-name-wrapper span {
	font-size: 14px;
	line-height: 18px;
	color: var(--grey);
}

.stock-value {
	width: 80px;
}

.stock-percentage-wrapper {
	display: flex;
	gap: 4px;
	align-items: center;
	width: 80px;
}

.stock-percentage-wrapper img {
	height: 14px;
}

.stock-percentage-inc {
	color: var(--green);
}

.stock-percentage-dec {
	color: var(--red);
}

.show .answer {
	display: inline-block;
}
