@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	background-color: var(--black);
	color: var(--white);
	font-family: 'IBM Plex Sans';
	font-weight: 600;
	scroll-behavior: smooth;
	height: 100%;
}
